<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/perfil}" th:object="${usuario}" method="post">
    <p>Usuario: <input type="text" th:field="*{usuario}" required /></p>
    <p>Contraseña: <input type="password" th:field="*{pass}" required /></p>
    <p><input type="submit" value="Ingresar" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>
